.dropdown {
    margin-right: 20px;

    #dropdown-item-button {
        background-color: #2196f3;
        border: none;
    }

    .dropdown-item {
        height: 30px;

        &.active {
            background-color: #2196f3;
        }

        &:active {
            background-color: #2196f3;
        }
    }
}